flightid flightfrom, flightto, starttime,endtime, seats, price,status, airline:Airline
<br><br>
<table >
    <tr>
        <th>Flight Id</th>
        <th>Flight from</th>
        <th>Flight to</th>
        <th>starttime</th>
        <th>endtime</th>
        <th>seats</th>
        <th>price</th>
        <th>status</th>
    </tr>
    <tr *ngFor= "let u of flight; index as i" >
        <td >{{u.flightid}}</td>
        <td>{{u.flightfrom}}</td>
        <td>{{u.flightto}}</td>
        <td>{{u.starttime}}</td>
        <td>{{u.endtime}}</td>
        <td>{{u.seats}}</td>
        <td>{{u.price}}</td>
        <td>{{u.status}}</td>
        <td>{{u.airlinefull.airname}}</td>
        <td><button>Edit</button></td>
    </tr>
</table>