<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <h1>Welcome Admin</h1>    
    </div>
    <br/><br/><br>
    <div align="left">
        <button mat-raised-button><a routerLink="/getairline" class="nav-link" href="#"> Get Airline</a></button>
    </div>
    <div align="Center">
        <button  mat-raised-button><a routerLink="/addairline" class="nav-link" href="#"> Add Airline</a></button>
    </div>
    <br><br><br>
    <div align="left">
        <button mat-raised-button><a routerLink="/getflight" class="nav-link" href="#"> Get FLights</a></button>
    </div>
    <div align="center">
        <button mat-raised-button><a routerLink="/addflight" class="nav-link" href="#">Add Flight</a></button>
    </div>
    <div align="left">
        <button mat-raised-button><a routerLink="/getdiscount" class="nav-link" href="#"> Get Discount</a></button>
    </div>
    <div align="center">
        <button mat-raised-button><a routerLink="/adddiscount" class="nav-link" href="#"> Add Discount</a></button>
    </div>


</div>