<nav >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Fly High</a> -->
      <div  id="navbarSupportedContent">
        <ul class="list-group list-group-horizontal" type="none">
          <li class="nav-item " >
            <a routerLink="/userhome" class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/bookticket"  class="nav-link" href="#">Book Flight</a>
          </li>
          <li class="nav-item">
            <a routerLink="/editticket" class="nav-link" href="#">Mananage Booking</a>
          </li>
        
        <li class="nav-item">
          <a routerLink="/getticket" class="nav-link" href="#">Booking History</a>
        </li>
          <!-- <li class="nav-item">
           <button (click)="panel()"><a *ngIf="loggedIn" class="nav-link">Panel</a></button> 
          </li> -->

        </ul>
        
      </div>
    </div>
  </nav>
